.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400vh;
}
.gameBox{
  display: flex;
  
  flex-wrap:wrap;
  border: 3px solid black;
  background-color: rgb(175, 233, 233);
  width: 300px;
  height: 300px;
}
.Boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.cross ,.circle{
  font-size: 70px;
  font-weight: bolder;
}
.cross{
  color: rgb(21, 77, 233);
}
.circle{
  color: rgb(75, 21, 21);
}